<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/styles.css" rel="stylesheet">
  <title>To-Do List App</title>
</head>

<body>
  <div class="registrationContainer">
      <h1 align="center">To do List:</h1>
      <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">
          {{ note.data }}
          <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Add</button>      
        </div>
        </div>
      </form>
  </div>
  <script src="static/script.js"></script>
</body>
</html>
