<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/logo.ico" alt="logo">
    <link href="static/styles.css" rel="stylesheet">
    <title>Account issues</title>
</head>
<body style="color: white;">
    <div class="title">
        <h1>Issues with my account</h1>
        <label for='h1'>Can't do anything bout it lol</label>
    </div>
    
</body>
</html>