<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/logo.ico" alt="logo">
    <link href="static/styles.css" rel="stylesheet">
    <title>Terms of service</title>
</head>
<body style="color: white;">
    <div class="title">
        <h1>Terms of service!</h1>
        <label for='h1'>Read carefully</label>
    </div>
    
    <div>

    </div>
</body>
</html>