@font-face {
    font-family: VCR;
    src: url(Roboto-Regular.ttf);
  }

.wholeDoc {
    font-family: VCR;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.bruh{
    font-family: VCR;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(0, 255, 85);
}
