@font-face {
    font-family: VCR;
    src: url(VCR_OSD_MONO_1.001.ttf);
  }
  
  #wholePage{
    font-family: VCR;
    text-align: center;
  }

.buttonDesign{
    margin: 10px 10px 10px 10px;
    font-size: 16px;
    padding: 15px 15px;
}

.nivelThing{
    font-family: VCR;
    
}

.coolLabel{
  margin-left: 30px;
}

.initiateGame{
    margin-top: 20px;
    text-align: center;
}

.userProfile{
  text-align: right;
  align-items: center;
}

.flex-container{
  display: flex;
  align-items: right;
}

.profile-button {

  position: fixed;
  top: 10px; 
  right: 10px; 
  font-family: 'Fixedsys';
  /*width: 100px;   
  height: 40px;  */
}

#wholePage{
  text-align: center;
  font-family: vcr;
  
}

#taskList{
  margin-top: 20px;
}

li{
  padding: 5px;
  list-style-type: none;
}
